@use '../../../../styles/variables' as *;

.products_shop {
    .result_filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        p {
            font-size: 16px;
            color: $black_80;
        }

        .sort-categories {
            padding: 8px 16px;
            border: 1px solid $light_gray;
            background-color: $white;
            font-size: 14px;
            color: $black;
            cursor: pointer;
        }
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
