@use '../../styles/variables' as *;

.product-card {
    a {
        text-decoration: none;
        color: inherit;
        display: block;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }

        .image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-bottom: 20px;
            background-color: $beige;
            aspect-ratio: 306 / 350;
            position: relative;

            img {
                max-width: 80%;
                max-height: 80%;
                object-fit: contain;
            }

            .badge {
                position: absolute;
                top: 16px;
                left: 16px;
                padding: 6px 14px;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                color: $white;
                letter-spacing: 0.5px;

                &.sale {
                    background-color: #FB5454;
                }

                &.new {
                    background-color: $black;
                }
            }
        }

        .product-info {
            text-align: center;

            h3 {
                font-size: 24px;
                font-weight: 600;
                color: $black;
                margin-bottom: 8px;
            }

            .price-row {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                margin-bottom: 12px;

                .price {
                    font-size: 20px;
                    font-weight: 500;
                    color: $black;
                }

                .old-price-row {
                    font-size: 20px;
                    font-weight: 500;
                    color: $black_60;
                    text-decoration: line-through;
                }
            }

            .color-swatches {
                display: flex;
                justify-content: center;
                gap: 6px;

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50px;
                    background-color: $gray_300;

                    &:nth-child(1) {
                        background-color: #BDBDBD;
                    }
                    &:nth-child(2) {
                        background-color: #A89891;
                    }
                    &:nth-child(3) {
                        background-color: #8F909B;
                    }
                }
            }
        }
    }
}
