@use '../styles/fonts' as f;
@use '../styles/buttons';

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: f.$DM_Sans;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}